body{
    background: white;
   }
   
   div.mainContainer {
       background: tan
   }
   
   div.buttonContainer button{
       background: black;
       color: white;
       text-align: center;
   }
   
   div.buttonContainer{
       background: tan;
   }